---
import { getCollection, getEntry } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import QuizPlayer from '../../components/QuizPlayer'
import CTA from '../../components/CTA.astro'

export async function getStaticPaths() {
	const quizzes = await getCollection('quizzes')
	return quizzes.map((quiz) => ({
		params: { slug: quiz.slug },
	}))
}

const { slug } = Astro.params
const quiz = await getEntry('quizzes', slug)

if (!quiz) {
	return Astro.redirect('/404')
}

const { Content } = await quiz.render()
---

<BaseLayout title={quiz.data.title}>
	<section class='content'>
		<div class='quiz-description'>
			<Content />
		</div>
		<QuizPlayer quiz={quiz.data} client:load />
	</section>

	<CTA />
</BaseLayout>

<style is:global>
	.quiz-description h1 {
		font-size: var(--text-step--1);
		color: var(--color-black-400);
		margin-bottom: var(--spacing-3xs);
	}

	.quiz-description p {
		font-size: var(--text-step--2);
		color: var(--color-black-400);
		margin-bottom: var(--spacing-3xs);
		text-wrap: balance;
	}
</style>
<style>
	body {
		background-color: var(--color-cream-400);
	}
	.content {
		margin-block: var(--spacing-l);
		padding: var(--spacing-xl) var(--spacing-s);
	}
	@media (min-width: 768px) {
		.content {
			padding-inline: var(--spacing-3xl);
		}
	}
</style>
