@import url("./reset.css");
@import url("./theme.css");

@font-face {
    font-display: swap;
    font-family: 'ClimateCrisis';
    font-weight: 400;
    src: url(/fonts/ClimateCrisis.ttf);
}

@font-face {
    font-display: swap;
    font-family: 'OpenSans';
    font-weight: 100 900;
    src: url(/fonts/OpenSans.ttf);
}

body {
    color: var(--color-black-400);
    background-color: var(--color-cream-400);
    transition:
        color 0.5s,
        background-color 0.5s;
    font-family: OpenSans, sans-serif;
    line-height: 1.5;
    text-wrap: pretty;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.heading {
    color: var(--color-black-600);
    font-weight: 700;
    letter-spacing: var(--letter-spacing-l);
    line-height: 1;
}

.content {
    max-width: 1620px;
    width: 100%;
    margin-inline: auto;
}

.center-text {
    text-align: center;
}

.basic-border {
    border: 3px solid var(--color-black-500);
}