.quiz-container {
    padding-top: var(--spacing-2xs);
}

.progress-visual {
    height: var(--text-step--2);
    background-color: var(--color-blue-100);
}

.progress-fill {
    height: 100%;
    background-color: var(--color-blue-400);
    transition: width 0.3s ease;
}

.progress-text {
    font-size: var(--text-step--2);
    text-align: right;
    padding-block: var(--spacing-3xs);
}

.question-text {
    font-size: var(--text-step-1);
    font-weight: 500;
    line-height: 1.2;
    text-wrap: pretty;
    margin-block: var(--spacing-m) var(--spacing-xs);
}

.option-button {
    display: block;
    width: 100%;
    padding: var(--spacing-xs);
    margin-block: var(--spacing-2xs);
    border: 2px solid var(--color-black-200);
    background: var(--color-cream-100);
    cursor: pointer;
    transition: all 0.2s;
}

.option-button:hover {
    border-color: var(--color-blue-400);
}

.option-button.selected.correct {
    background-color: var(--color-blue-100);
    border-color: var(--color-blue-400);
}

.option-button.selected.incorrect {
    background-color: var(--color-red-100);
    border-color: var(--color-red-400);
}

.option-button.correct-answer {
    background-color: var(--color-blue-100);
    border-color: var(--color-blue-400);
}

.quiz-button {
    display: block;
    width: 100%;
    padding: var(--spacing-xs);
    margin-block: var(--spacing-2xs);
    border: 2px solid var(--color-yellow-500);
    background: var(--color-yellow-500);
    color: var(--color-black-400);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.quiz-button:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--color-black-500);
}

.explanation-box {
    padding: var(--spacing-s);
    background-color: var(--color-blue-200);
    color: var(--color-black-500)
}

.results-summary {
    padding-block: var(--spacing-m);
}