---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title=''>
	<h1 class='large-header'>404</h1>
	<p>Ooops page note found.</p>
</BaseLayout>

<style>
	.large-header {
		font-size: clamp(32px, 16cqw, 276px);
		font-family: ClimateCrisis, sans-serif;
		text-align: center;
		text-transform: uppercase;
		line-height: 100%;
		letter-spacing: var(--letter-spacing-s);
		color: var(--color-black-500);
	}
</style>
