---
import Icon from '../components/Icon.astro'
import QuizList from '../components/QuizList.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title=''>
	<h1 class='heading'>Quiz Me</h1>
	<Icon name='smiley' scale={0.8} />
	<QuizList />
</BaseLayout>

<style>
	p {
		margin-block: 100px;
	}
	.heading {
		font-size: var(--text-step-5);
		padding-block: var(--spacing-s);
	}
</style>
