---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title=''>
	<h1 class='heading'>Quiz Me</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo distinctio
		mollitia veniam facilis cumque quibusdam tenetur at harum, eius maxime
		accusamus maiores tempore ex similique culpa fugiat, temporibus
		accusantium. Obcaecati? Lorem, ipsum dolor sit amet consectetur
		adipisicing elit. Amet, odio! Laudantium quo doloremque cupiditate
		natus? Reprehenderit soluta totam sint assumenda? A, sapiente illo!
		Itaque minus, porro distinctio mollitia ullam rem. Lorem ipsum dolor sit
		amet consectetur adipisicing elit. Ea necessitatibus tenetur doloremque
		sint magni dolor incidunt omnis sequi, dolores at magnam ullam quam
		dignissimos laborum, amet repellat. Repellat, libero quo.
	</p>
</BaseLayout>

<style>
	p {
		margin-block: 100px;
	}
	.heading {
		font-size: var(--text-step-5);
		padding-block: var(--spacing-s);
	}
</style>
