---
import WrapperPatterns from './WrapperPatterns.astro'
---

<div class='content center-text'>
	<WrapperPatterns
		pattern='checkers'
		fg='var(--color-black-400)'
		bg='var(--color-black-600)'
		gap={36}
		scale={2}
	>
		<a href='/quiz' aria-label='back to quiz list.' class='back-btn'
			>Find Another Quiz</a
		>
	</WrapperPatterns>
</div>

<style>
	.content {
		padding-block: calc(var(--spacing-3xl) * 1.5);
		width: 90%;
	}
	.center-text {
		margin-block: var(--spacing-l);
	}

	.back-btn {
		display: inline-block;
		width: 100%;
		padding: calc(var(--spacing-3xl) * 1.5) var(--spacing-s);
		color: var(--color-blue-300);
		font-weight: 800;
		font-size: var(--text-step-5);
		line-height: 1.1;
		text-decoration: none;
		text-transform: uppercase;
	}
	.back-btn:hover {
		text-decoration: underline;
		text-underline-position: under;
		color: var(--color-yellow-500);
	}

	@media (min-width: 1000px) {
		.content {
			width: 80%;
		}
		.back-btn {
			font-size: var(--text-step-6);
		}
	}
</style>
