<nav class='checkered'>
	<a class='' href='/' aria-label='home'>
		<img src='/assets/logo.webp' alt='Quiz Me logo.' />
	</a>
</nav>
<style>
	img {
		max-height: 50px;
		margin-inline: auto;
	}
	.checkered {
		background: linear-gradient(
				45deg,
				var(--color-black-500) 25%,
				transparent 25%,
				transparent 75%,
				var(--color-black-500) 75%
			),
			linear-gradient(
				45deg,
				var(--color-black-500) 25%,
				transparent 25%,
				transparent 75%,
				var(--color-black-500) 75%
			);
		background-position:
			0 0,
			25px 25px;
		background-size: 50px 50px;
	}
</style>
