---
import WrapperPatterns from './WrapperPatterns.astro'
---

<WrapperPatterns
	pattern='checkers'
	fg='var(--color-black-500)'
	bg='var(--color-cream-300)'
	gap={25}
>
	<nav>
		<a href='/' aria-label='home'>
			<img src='/assets/logo.webp' alt='Quiz Me logo.' />
		</a>
	</nav>
</WrapperPatterns>
<style>
	nav {
		display: flex;
		justify-content: center;
	}
	a {
		display: inline-block;
	}
	img {
		max-height: 50px;
	}
</style>
