---
import { getCollection } from 'astro:content'
import WrapperTextures from './WrapperTextures.astro'
import Separator from './Separator.astro'

const testimonials = await getCollection('testimonials')

const paperStyle = `
		max-width: 450px;
		background-image: url('${import.meta.env.BASE_URL}assets/paper/ripped-paper.webp');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding: var(--spacing-xl) var(--spacing-s);
`
---

<section>
	<WrapperTextures pattern='Dust' blend='multiply' opacity={0.8}>
		<Separator direction='column-reverse' color='var(--color-red-400)' />
		<div class='flex content'>
			{
				testimonials.map((t) => (
					<div class='wrapper'>
						<div style={paperStyle}>
							<p class='testimonial'>{t.data.testimonial}</p>
							<p class='name'>{t.data.name}</p>
						</div>
					</div>
				))
			}
		</div>
		<Separator direction='column' color='var(--color-red-400)' />
	</WrapperTextures>
</section>

<style>
	section {
		background-color: var(--color-red-300);
		margin-block: var(--spacing-3xl);
	}
	.flex {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-s);
		justify-content: space-evenly;
		align-items: center;
	}
	.wrapper {
		padding: var(--spacing-m) var(--spacing-s);
	}
	.testimonial {
		font-size: var(--text-step--1);
		line-height: 1.5;
	}
	.name {
		padding-top: var(--spacing-xs);
		font-weight: 800;
		text-align: right;
		text-transform: uppercase;
	}

	@media (min-width: 1000px) {
		.flex {
			flex-direction: row;
		}

		.wrapper {
			padding: var(--spacing-xl) var(--spacing-s);
		}
	}
</style>
